nav.navbar.navbar-expand-lg.navbar-light.bg-light{


  background-color: #005bb5!important;

}

a.navbar-brand {

  color: white!important;
  font-weight: bolder;
  font-size: 24px;
}
a.nav-link{


  color: white!important;
}

.btn{

  background-color: #005bb5;
  color: white;
  font-size: 23px;
  
}
.btn:hover{

  background-color:white;
  color: black;
  
}

.navbar-brand:active{

  transform: translateY(1px);
}

a.nav-link:hover{

  color:black!important;

}

a.nav-link:active{
  transform: translateY(1px);

}

/*rodape*/
footer{
  text-align: center;
  font-size: 75%;
}


/*texto da cloud*/
.appear{display: none;}


body{
  background-color:#363636;

}

h1{
  color:black
}

p{
  font-size: 95%;
  color: black;


}


text.highcharts-title{
  color:white
}

/*Henrique*/


